<!DOCTYPE html>
<html>
<head>
  <title><%= (@title ? @title : '') + " | vlajipno" %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="/assets/normalize.css" />
  <link rel="stylesheet" href="/assets/animate.css" />
  <link rel="stylesheet" href="/assets/styles.css" />
  <link rel="stylesheet" href="/assets/jquery-ui.min.css" />

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/assets/jquery-2.1.1.min.js"></script>
  <script src="/assets/jquery-ui.min.js"></script>
  <script src="/assets/viewportchecker.js"></script>
  <script src="/assets/scripts.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <header data-animation="fadeInDownBig">
    <a href="/" title="Back to Homepage" class="logo">vlajipno</a>
    <a href="/about" class="toggle">About</a>
  </header>

  <section class="content">
	  <article>
	    <header class="gradient-1 gradient-navbar" data-animation="fadeInDownBig">
      </header>
      <div class="body" data-animation="fadeInUp">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </article>
  </section>

  <footer data-animation="fadeInUp">
    <div class="copyright">
      <b>Copyright 2014 <a href="mailto:me@sorpaas.com">sorpa'as</a>.</b>
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
    </div>
  </footer>
</body>
</html>
